/***
 *    ----    ---- ------------    ------    ----------   ------------ -----------  
 *    ****    **** ************   ********   ************ ************ ***********  
 *    ----    ---- ----          ----------  --        -- ----         ----    ---  
 *    ************ ************ ****    **** **        ** ************ *********    
 *    ------------ ------------ ------------ --        -- ------------ ---------    
 *    ****    **** ****         ************ **        ** ****         ****  ****   
 *    ----    ---- ------------ ----    ---- ------------ ------------ ----   ----  
 *    ****    **** ************ ****    **** **********   ************ ****    **** 
 *                                                                                  
 */

header>section {
    background-color: #85CDF5;
    width: 100%;
    height: 20vh;
    position: sticky;
    top: 0;
}

header>section>nav {
    font-size: 1.8em;
    font-style: normal;
    font-weight: bold;
}

header>section>nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header>section>nav>ul>li>a {
    color: #333333;
    text-decoration: none;
}

header>section>nav>ul>li>a>h1::after {
    content: "";
    height: 0.2em;
    width: 0em;
    display: block;
    background-color: #333333;
    transition: width 0.4s ease;
}

header>section>nav>ul>li>a>h1:hover::after {
    width: 100%;
}

header>section>nav>ul>li>a>h1.h1-quemSomos::after {
    content: "";
    height: 0.2em;
    width: 3em;
    display: block;
    background-color: #333333;
    transition: 0.4s ease;
    position: relative;
    left: 2em;
}

header>section>nav>ul>li>a>h1.h1-quemSomos:hover::after {
    width: 100%;
    left: 0em;
}


/***
 *    ------------   --------     --------   ------------ ------------ -----------  
 *    ************  **********   **********  ************ ************ ***********  
 *    ----         ----    ---- ----    ---- ------------ ----         ----    ---  
 *    ************ ***      *** ***      ***     ****     ************ *********    
 *    ------------ ---      --- ---      ---     ----     ------------ ---------    
 *    ****         ****    **** ****    ****     ****     ****         ****  ****   
 *    ----          ----------   ----------      ----     ------------ ----   ----  
 *    ****           ********     ********       ****     ************ ****    **** 
 *                                                                                  
 */

footer hr {
    border: 0;
    height: 0.3em;
    background-image: linear-gradient(to right, #DEB959, #2C5680);
    margin: 0em;
}

footer>section {
    background-color: #333333;
    width: 100%;
    height: 42vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer>section div {
    font-size: 1.1em;
    color: #FFFFFF;
    margin: 1em 1em;
}

footer>section button {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: #353535;
    background-color: #DEB959;
    border: 0.1em solid #353535;
    width: 40%;
    height: 20%;
    margin: 0em 1em;
}

footer>section button:hover {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: #DEB959;
    background-color: #353535;
    border: 0.1em solid #DEB959;
    width: 40%;
    height: 20%;
    margin: 0em 1em;
    cursor: pointer;
}