/***
 *    ------------   --------   ----    ---- ------------ --------  -----------    ********      ------    ------------    ------      --------   
 *    ************  **********  *****   **** ************ ********  ***********   ----------    ********   ************   ********    **********  
 *    ---          ----    ---- ------  ---- ----           ----    ----    ---  ************  ----------  ---           ----------  ----    ---- 
 *    ***          ***      *** ************ ************   ****    *********    ---  --  --- ****    **** ***          ****    **** ***      *** 
 *    ---          ---      --- ------------ ------------   ----    ---------    ***  **  *** ------------ ---          ------------ ---      --- 
 *    ***          ****    **** ****  ****** ****           ****    ****  ****   ---  --  --- ************ ***          ************ ****    **** 
 *    ------------  ----------  ----   ----- ----         --------  ----   ----  ***  **  *** ----    ---- ------------ ----    ----  ----------  
 *    ************   ********   ****    **** ****         ********  ****    **** ---      --- ****    **** ************ ****    ****   ********   
 *                                                                                                                                                
 */


/*Confirmação*/

main div {
    position: absolute;
    border: 0.25em solid #333333;
    width: 80%;
    height: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    background-color: #FFFFFF;
    left: 1.7em;
    display: none;
}

main div button {
    width: 5em;
    height: 2em;
    background-color: #2C5680;
    border: 1px solid #333333;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 0.3em;
    line-height: 1.75em;
    color: #FFFFFF;
    margin: 0.2em 0em 2em;
}

main div button:hover {
    background-color: #FFFFFF;
    border: 1px solid #2C5680;
    color: #2C5680;
    cursor: pointer;
}


/***
 *    ------------    ------    -----------  ----------   ------------ 
 *    ************   ********   ***********  ************ ************ 
 *    ---           ----------  ----    ---  --        -- ----         
 *    ***          ****    **** *********    **        ** ************ 
 *    ---          ------------ ---------    --        -- ------------ 
 *    ***          ************ ****  ****   **        **        ***** 
 *    ------------ ----    ---- ----   ----  ------------ ------------ 
 *    ************ ****    **** ****    **** **********   ************ 
 *                                                                     
 */


/*Cards*/

section.section-escopo {
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    margin: 5em;
}

section.section-escopo section.sectionData {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

section.section-escopo section.sectionData section.sectionImg img {
    border-radius: 100%;
    width: 20.25em;
    height: 19.25em;
}

section.section-escopo section.sectionData section.sectionImg {
    margin: 0em 3em;
}

section.section-escopo section.sectionData section.sectionTxt {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 600;
    color: #000000;
}

section.section-escopo section.sectionData section.sectionTxt h1 {
    font-size: 3.75em;
    line-height: 5em;
}

section.section-escopo section.sectionData section.sectionTxt p {
    font-size: 0.8em;
    line-height: 1.1em;
}


/***
 *    ------------   --------   -----------    ********   
 *    ************  **********  ***********   ----------  
 *    ----         ----    ---- ----    ---  ************ 
 *    ************ ***      *** *********    ---  --  --- 
 *    ------------ ---      --- ---------    ***  **  *** 
 *    ****         ****    **** ****  ****   ---  --  --- 
 *    ----          ----------  ----   ----  ***  **  *** 
 *    ****           ********   ****    **** ---      --- 
 *                                                        
 */


/*Form*/

section.section-escopo section.sectionForm {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.section-escopo section.sectionForm section.sectionNameIdade {
    width: 60em;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 0em;
    margin: 0em;
}

section.section-escopo section.sectionForm label {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 2.5em;
    color: #000000;
    display: flex;
    flex-direction: column;
    text-align: left;
}

section.section-escopo section.sectionForm input {
    border: none;
    border-bottom: solid 0.06em #333333;
    height: 1.5em;
}

section.section-escopo section.sectionForm input.inputName {
    width: 61em;
    margin: 0em 2em 0em 0em;
}

section.section-escopo section.sectionForm input.inputIdade {
    width: 8.5em;
}

section.section-escopo section.sectionForm input.inputEmail {
    width: 72.7em;
}

section.section-escopo section.sectionForm button {
    width: 7em;
    height: 1.8em;
    background-color: #2C5680;
    border: 0.06em solid #333333;
    margin: 2em 0em;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25em;
    color: #FFFFFF;
}

section.section-escopo section.sectionForm button:hover {
    background-color: #FFFFFF;
    border: 0.06em solid #2C5680;
    color: #2C5680;
}