/***
 *    ------------   --------   ----    ---- ------------ --------  -----------    ********      ------    ------------    ------      --------   
 *    ************  **********  *****   **** ************ ********  ***********   ----------    ********   ************   ********    **********  
 *    ---          ----    ---- ------  ---- ----           ----    ----    ---  ************  ----------  ---           ----------  ----    ---- 
 *    ***          ***      *** ************ ************   ****    *********    ---  --  --- ****    **** ***          ****    **** ***      *** 
 *    ---          ---      --- ------------ ------------   ----    ---------    ***  **  *** ------------ ---          ------------ ---      --- 
 *    ***          ****    **** ****  ****** ****           ****    ****  ****   ---  --  --- ************ ***          ************ ****    **** 
 *    ------------  ----------  ----   ----- ----         --------  ----   ----  ***  **  *** ----    ---- ------------ ----    ----  ----------  
 *    ************   ********   ****    **** ****         ********  ****    **** ---      --- ****    **** ************ ****    ****   ********   
 *                                                                                                                                                
 */


/*Confirmação*/

main div {
    position: absolute;
    border: 0.25em solid #333333;
    width: 80%;
    height: 35%;
    font-style: normal;
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    background-color: #FFFFFF;
    left: 1.7em;
    display: none;
}

main div button {
    width: 5em;
    height: 2em;
    background-color: #2C5680;
    border: 1px solid #333333;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 0.3em;
    line-height: 1.75em;
    color: #FFFFFF;
    margin: 0.2em 0em 2em;
}

main div button:hover {
    background-color: #FFFFFF;
    border: 1px solid #2C5680;
    color: #2C5680;
    cursor: pointer;
}


/***
 *    ------------   --------   -----------    ********   
 *    ************  **********  ***********   ----------  
 *    ----         ----    ---- ----    ---  ************ 
 *    ************ ***      *** *********    ---  --  --- 
 *    ------------ ---      --- ---------    ***  **  *** 
 *    ****         ****    **** ****  ****   ---  --  --- 
 *    ----          ----------  ----   ----  ***  **  *** 
 *    ****           ********   ****    **** ---      --- 
 *                                                        
 */


/*Form*/

main section {
    width: 80%;
    height: 50%;
    border: 0.25em solid #333333;
    margin: 2em auto 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    color: #000000;
    margin: 1em 0em 0em;
}

main section form {
    display: flex;
    align-items: right;
    flex-direction: column;
    justify-content: space-around;
    border: 0em;
    width: 82%;
    margin: 2em 0em 2em 12em;
}

main section section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border: 0em;
    margin: 0em;
}

main section section input.input-name {
    width: 35.25em;
}

main section section input.input-age {
    width: 11em;
}

main section input {
    height: 2.4em;
    display: block;
}

main section input.input-img {
    width: 47.5em;
}

main section textarea {
    width: 47.5em;
    height: 15.6em;
    display: block;
}

main section label {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 2.5em;
    color: #000000;
}


/***
 *    -----------  ----    ---- ------------ ------------   --------   ----    ---- 
 *    ***********  ****    **** ************ ************  **********  *****   **** 
 *    ----       - ----    ---- ------------ ------------ ----    ---- ------  ---- 
 *    ***********  ****    ****     ****         ****     ***      *** ************ 
 *    -----------  ----    ----     ----         ----     ---      --- ------------ 
 *    ****       * ************     ****         ****     ****    **** ****  ****** 
 *    -----------  ------------     ----         ----      ----------  ----   ----- 
 *    ***********  ************     ****         ****       ********   ****    **** 
 *                                                                                  
 */


/*Button*/

main section button {
    width: 8em;
    height: 2em;
    background-color: #2C5680;
    border: 1px solid #333333;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.75em;
    color: #FFFFFF;
    margin: 0em 0em 2em;
}

main section button:hover {
    background-color: #FFFFFF;
    border: 1px solid #2C5680;
    color: #2C5680;
    cursor: pointer;
}