/***
 *      ********      ------    --------  ----    ---- 
 *     ----------    ********   ********  *****   **** 
 *    ************  ----------    ----    ------  ---- 
 *    ---  --  --- ****    ****   ****    ************ 
 *    ***  **  *** ------------   ----    ------------ 
 *    ---  --  --- ************   ****    ****  ****** 
 *    ***  **  *** ----    ---- --------  ----   ----- 
 *    ---      --- ****    **** ********  ****    **** 
 *                                                     
 */

main {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
}

main>section {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/***
 *       ------    ----------     --------   ------------ ------------ 
 *      ********   ************  **********  ************ ************ 
 *     ----------  --        -- ----    ---- ------------ ----         
 *    ****    **** **        ** ***      ***     ****     ************ 
 *    ------------ --        -- ---      ---     ----     ------------ 
 *    ************ **        ** ****    ****     ****     ****         
 *    ----    ---- ------------  ----------      ----     ------------ 
 *    ****    **** **********     ********       ****     ************ 
 *                                                                     
 */


/*Adote um lobinho*/

main>section.section-adot {
    height: 31.25em;
    background-size: cover;
    filter: brightness(0.85);
    color: #FFFFFF;
}

main>section.section-adot>h1 {
    font-size: 6em;
    font-weight: bold;
}

main>section.section-adot hr {
    border: 0em;
    height: 0.3em;
    width: 7vw;
    background-color: #FFFFFF;
    margin: 1.7em 0em 0.75em;
    transition: 0.4s ease;
}

main>section.section-adot hr:hover {
    width: 60%;
}

main>section.section-adot p {
    font-size: 1.87em;
    font-weight: normal;
    width: 50%;
    flex-wrap: wrap;
}


/***
 *    ------------   --------   -----------  -----------  ------------ 
 *    ************  **********  ***********  ***********  ************ 
 *    ----         ----    ---- ----       - ----    ---  ----         
 *    ************ ***      *** ***********  *********    ************ 
 *    ------------ ---      --- -----------  ---------    ------------ 
 *           ***** ****    **** ****       * ****  ****   ****         
 *    ------------  ----------  -----------  ----   ----  ------------ 
 *    ************   ********   ***********  ****    **** ************ 
 *                                                                     
 */


/*Sobre*/

main section.section-sobre {
    height: 20.8em;
    background-color: #2C5680;
    color: #FFFFFF;
    line-height: 1.5;
}

main>section.section-sobre>h1 {
    font-size: 3em;
    font-weight: bold;
    color: #DEB959;
}

main>section.section-sobre p {
    font-size: 1.87em;
    font-weight: normal;
    font-size: 1.5em;
    width: 70%;
    flex-wrap: wrap;
}


/***
 *    ---    ---     ------    ----           --------   -----------  ------------ ------------ 
 *    ***    ***    ********   ****          **********  ***********  ************ ************ 
 *    ---    ---   ----------  ----         ----    ---- ----    ---  ----         ----         
 *    ***    ***  ****    **** ****         ***      *** *********    ************ ************ 
 *    ---    ---  ------------ ----         ---      --- ---------    ------------ ------------ 
 *     ********   ************ ************ ****    **** ****  ****   ****                ***** 
 *      ------    ----    ---- ------------  ----------  ----   ----  ------------ ------------ 
 *       ****     ****    **** ************   ********   ****    **** ************ ************ 
 *                                                                                              
 */


/*Valores*/

main section.section-valores {
    height: 39em;
    background-color: #333333;
    color: #FAFAFA;
}

main>section.section-valores>h1 {
    font-size: 3em;
    font-weight: bold;
    color: #DEB959;
}

main section.section-valores>section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}

main>section.section-valores>section>section div {
    background-color: #FAFAFA;
    border-radius: 100%;
    padding: 2em;
    margin: 1em 2em;
}

main>section.section-valores>section>section h2 {
    font-size: 2.1em;
    font-weight: bold;
    margin: 1em;
}

main>section.section-valores>section>section p {
    font-size: 1.6em;
}


/***
 *    ---      ---   --------   ----         ------------ ------------ 
 *    ***  **  ***  **********  ****         ************ ************ 
 *    ---  --  --- ----    ---- ----         ----         ----         
 *    ***  **  *** ***      *** ****         ************ ************ 
 *    ---  --  --- ---      --- ----         ------------ ------------ 
 *    ************ ****    **** ************ ****                ***** 
 *     ----------   ----------  ------------ ----         ------------ 
 *      ********     ********   ************ ****         ************ 
 *                                                                     
 */


/*Wolfs*/

main section.section-wolfs {
    height: 67.1em;
    justify-content: space-around;
}

main section.section-wolfs h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    color: #DEB959;
}

main section.sectionGeral section.section-escopo {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 2em;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img {
    position: relative;
    margin: 0em 5em;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img img {
    height: 20.5em;
    width: 26.8em;
    position: relative;
    z-index: 1;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img div {
    background-color: #2C5680;
    height: 20.5em;
    width: 26.8em;
    position: absolute;
    z-index: 0;
    bottom: 2em;
    right: 2em;
    border: solid #333333 0.3em
}

main section.sectionGeral section.section-escopo section.section-wolfs-txt {
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    color: #000000;
    font-style: normal;
}

main section.sectionGeral section.section-escopo section h2 {
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1em;
}

main section.sectionGeral section.section-escopo section h3 {
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.6em;
}

main section.sectionGeral section.section-escopo section p {
    font-weight: normal;
    font-size: 1.5em;
}

main section.sectionGeral section.section-escopo section.section-wolfs-img div.divRight {
    bottom: 2em;
    left: 2em;
}

main section.sectionGeral section.section-escopo section.section-wolfs-txtRight {
    text-align: right;
    display: flex;
    align-items: right;
    flex-direction: column;
    justify-content: right;
    color: #000000;
    font-style: normal;
}